<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ content }}
  </div>  
</div>

<h2>Recent Updates</h2>
<div class="row">  
  {% assign posts_recent = site.posts %}  
  {% assign number_of_recent_posts = site.Material.index.number_of_recent_posts : 3 %}
  {% include custom/posts_recent %}
</div>

<div class="row">
  <div class="center">
    <a class="btn waves-effect waves-light green darken-1" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Load More</a>
   </div>
</div>