<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row post-full">
  <div class="col-xs-12">
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

  {% unless page.categories == empty %}
    <div class="row">
      <i class="small mdi-action-label-outline"></i>&nbsp;
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </div>
  {% endunless %}
  <p/>
  {% unless page.tags == empty %}
    <div class="row">
      <i class="small mdi-action-label"></i>&nbsp;
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </div>
  {% endunless %}

  <ul class="pagination">
    {% if page.previous %}
      <li class="waves-effect"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"><i class="mdi-navigation-chevron-left"></i></a></li>
    {% else %}
      <li class="disabled left"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
    {% endif %}
      <li class="waves-effect"><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}"><i class="mdi-content-archive"></i></a></li>
    {% if page.next %}
      <li class="waves-effect right"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}"></a></li>
    {% else %}
      <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a>
    {% endif %}
  </ul>


  {% include JB/comments %}
  </div>
</div>
